@use "~font-awesome/scss/font-awesome" with ($fa-font-path: "~font-awesome/fonts");
@use "~bootstrap-sass/assets/stylesheets/bootstrap" with ($icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
